name = "patrickckingcom"
account_id = ""
type = "webpack"
workers_dev = false
zone_id = ""
route = "*.patrickcking.com/*"

[site]
bucket = "./public"
entry-point = "workers-site"
include = [
   "*",
   ".well-known/*",
]
